
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    margin-left: .1em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: .875em;
}
h6 {
    font-size: .85em;
    color: #6a737d;
}
h1, h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.25;
}

h3, h4, h5, h6 {
    margin-left: .125em;
}

blockquote {
    border-left: .2em solid #dfe2e5;
    margin: 0 0 1em 0;
    padding: 0 1em;
}
.article-container a {
    text-decoration: none;
    color: #19455c;
    font-weight: 600;
}

code {
    padding: .25em .5em;
    color: #1565c0;
    font-size: .75em;
    margin: 0 0.2rem;
    background-color: #e3f2fd;
    border-radius: 0.3rem;
    border: 1px solid #eee;
}
.article-container pre code {
    padding: 0;
    font-size: .75em;
    color: #d6deeb;
    background-color: transparent;
    line-height: 1.6;
    letter-spacing: .1rem;
    border: none;
    border-radius: 0;
}
body .article-container p{
    line-height: 1.5rem;
}
